@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800);

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
#todaysDeal,#weeksMailer, #nzMadeProducts, #moreDeals, #blog {
  padding: 50px 0;
}
.bgGray{background-color: #efefef;}
.viewAll {
  float: left;
  margin: 40px 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}
.viewAll .viewAllLine {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  height: 2px;
  position: absolute;
  top: 50%;
  background-color: #fff;
}
.viewAll a {
  border-radius: 50px;
  display: block;
  height: 80px;
  margin: 0 auto;
  padding: 30px 0;
  width: 80px;
  background-color: #b0b1b4;
  color: #fff;
    position: relative;
}

.viewAll.grey .viewAllLine{background-color: #b0b1b4;}
.title {
  color: #000;
  margin: 0 0 20px;
}
.title h3 {
  font-weight: 300;
}
.title span {
  font-weight: 600;
}

/*Bootstrap CSS over-ride*/
.navbar-header {
  left: 50%;
  margin: 0 -60px !important;
  position: relative;
  width: 120px;
}
.navbar-brand {
  display: block;
  float: none;
  font-size: 18px;
  height: auto;
  line-height: 20px;
  margin: 0 !important;
  padding: 8px;
  width: 100%;
}
.navbar-brand img {
  width: 100%;
}
.navbar-inverse {
  background-color: #262626;
  border-color: #080808;
  opacity: 0.6;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  z-index: 999;
  border-radius: 0;
}
.dropdown .dropdown-menu {
  background-color: #2c2c2c;
  color: #fff;
}
.dropdown .dropdown-menu > li > a:hover, .dropdown .dropdown-menu > li > a:focus {
  background-color: transparent;
  background-image: none;
  background-repeat: repeat-x;
    text-decoration: underline;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #2c2c2c;
  color: #fff;
}
.navbar-nav .open .dropdown-menu {
  background-color: #2c2c2c;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
/*Navbar*/
.nav li:hover{
    background-color: #2c2c2c;
}
.nav li:hover a{
    color: #fff !important;
}
.nav li .hoverDrop {
  background-color: #2c2c2c;
  box-sizing: border-box;
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 50px;
  z-index: 10;
    width: 250px;
}
.nav li:hover .hoverDrop {
  display: block;
}
.nav li .hoverDrop ul {
  float: left;
  margin: 0;
  padding: 0;
}
.nav li .hoverDrop ul li a {
  color: #fff;
  padding: 5px;
  display: block;
}
.nav li.primaryDrop{display: block;}
/*Slider Css*/
.bx-wrapper {
  border: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 10px;
  position: absolute;
  width: 100%;
}
.bx-wrapper img {
  width: 100%;
}
.bx-wrapper {
  margin: 0 auto;
}

/*Website CSS*/
#search{position: relative;}
.searchPanel {
  background-color: rgba(74, 74, 74, 0.65);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 100px 0 64px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}
.searchPanel h1 {
  color: #fff;
  margin: 20px 0 30px;
}
.searchPanel .btn {
  padding: 10px 12px;
    background-color: #fff;
}
.searchPanel .btn-search {
  background-color: #afb1b4;
  color: #fff;
  font-size: 21px;
  padding: 5px 12px;
}
.searchPanel .btn span {
  font-weight: 600;
}
.searchPanel .form-control {
  height: 41px;
  padding: 10px 12px;
}
.searchPanel .searchDrop.form-control {
  border-radius: 5px 0 0 5px;
  width: 160px;
}
.searchPanel fieldset.select_box {
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  display: block;
  float: left;
  position: relative;
  width: 160px;
  height: 41px;
}
.searchPanel fieldset.select_box::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #a3a3a3;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 999;
}
.searchPanel fieldset select.searchDrop.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  position: relative;
  width: 100%;
  color: #000;
}
.searchPanel .dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}
#category{position: relative; margin: 0; padding: 0;}
.categoriesNav {
  position: relative;
  width: 100%;
}
.categoriesNav {
  background-color: #efefef;
  background-image: none;
  position: relative;
  width: 100%;
  font-weight: 600;
  z-index: 100;
}
.navbar-default .navbar-nav > li > a {
  color: #2c2c2c;
  font-size: 18px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #2c2c2c;
  color: #fff;
  text-decoration: underline;
}

.dealsList {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dealsList li {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
  width: 19.7%;
}
.dealsList li a {
  border: 1px solid #ececec;
  display: inline-block;
  width: 100%;
  color: #6f6d6d;
}
.dealsList li a:hover .listImage .hover{
    opacity: 0.9;
}

.dealsList li a .listImage {
  float: left;
  height: 250px;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.dealsList li a .listImage img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.dealsList li a .logo {
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  margin: 0;
  overflow: hidden;
  padding: 5px 20px;
  width: 100%;
    text-align: center;
    background-color: #fff;
    float: left;
}
.dealsList li a .logo img {
  max-width: 100%;
  max-height: 100%;
}
.dealsList li a .details {
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  width: 100%;
    background-color: #fff;
}
.dealsList li a .details .startDate {
  float: left;
}
.dealsList li a .details .endDate {
  float: right;
}
.dealsList li a .details .date {
  font-weight: 600;
}
.hover {
  background-color: #2c2c2c;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    padding: 20px;
    text-align: center;
}
.hover p {
  color: #fff;
  position: relative;
  top: 40%;
  left: 0;
}

.nzMadeList {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nzMadeList li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nzMadeList li a {
  display: block;
  color: #000;
  font-weight: 600;
  float: left;
  width: 100%;
}

.nzMadeList li .nzMadePic {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 295px;
  position: relative;
}
.nzMadeList li .nzMadePic img{width: 100%; height: 100%;}
.nzMadeList li .nzMadeTitle {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.nzMadeList li .nzMadeTitle p {
  margin: 10px 0;
}

.nzMadeList li a:hover .nzMadePic .hover{
    opacity: 0.9;
}

.blogList {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.blogList li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.blogList li a {
  color: #878787;
  display: block;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.blogList li .blogContent {
  border: 1px solid #ccc;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.blogList li a:hover .blogContent{background-color: #fafafa;}
.blogList li .blogContent .blogPic,
.blogList li .blogContent .blogDetails,
.blogList li .blogContent .blogText{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
    position: relative;
}
.blogList li .blogContent .blogPic {
    background-image: url("../images/nobg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    overflow: hidden;
}
.blogList li .blogContent .blogPic img {
    width: 100%;
    height: 100%;
}
.blogList li .blogContent .blogDetails {
  padding: 10px !important;
  color: #878787;
}
.blogList li .blogContent .blogDetails ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.blogList li .blogContent .blogDetails ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}
.blogList li .blogContent .blogDetails ul li p{
  margin: 0;
}
.blogList li .blogContent .blogDetails ul li p span{margin-right: 5px;}
.blogList li .blogContent .blogDetails ul li p .fa {
  font-size: 20px;
}

.blogList li .blogContent .blogDetails .blogProfilePic {
  background-color: #fff;
  background-image: url("../images/profile.svg");
  background-size: 56px;
  border: 3px solid #fafafa;
  border-radius: 50px;
  float: left;
  height: 80px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 10px;
  top: -40px;
  width: 80px;
  background-position: center;
  background-repeat: no-repeat;
}
.blogList li .blogContent .blogDetails .blogProfilePic img {
  width: 100%;
  height: 100%;
}
.blogList li .blogContent .blogText {
  padding: 10px !important;
  text-align: justify;
}
.blogList li .blogContent .blogText strong {
  color: #000;
  font-weight: 600;
}
.blogList li .blogContent .blogText p {font-size: 13px;}
.blogList li .blogContent .blogText p span{font-weight: 600; color: #000;}

.circulars .circularWrap {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
.circulars .title a {
  color: #000;
  font-weight: 600;
}
.circulars .circularLogoWrap {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.circulars .circularLogo {
  margin: 0 auto;
  padding: 0;
  width: 250px;
  height: 120px;
  overflow: hidden;
}
.circulars .circularLogo a{
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.circulars .circularLogo img{
  max-width: 100%;
  max-height: 100%;
}
.circulars .circularContent {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.circulars .circularContent img {
  height: auto;
  width: 100%;
  margin: 0 0 5px 0;
}
#footer{
    background-image: url(../images/footerImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*#mc_embed_signup form {
  display: block;
  padding: 10px 0;
  position: relative;
  text-align: left;
}
#mc_embed_signup input.email {
  color: #333;
}*/
.topFooter, .bottomFooter {
  color: #fff;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.topFooter h1{margin: 0;}
.topFooter{
  background-color: rgba(38, 38, 38, 0.8);
}
.bottomFooter {
  background-color: rgba(74,74,74,0.65);
}
.bottomFooter ul {
  list-style: none;
  margin: 0;
}
.bottomFooter ul li{
    font-weight: 300;
    margin-bottom: 15px;
}
.bottomFooter ul li:first-child{
    font-size: 16px
}
.bottomFooter ul li:first-child span{
    font-weight: 600;
}
.bottomFooter ul li a{color: #fff;}
.bottomFooter ul li a .fa {
  font-size: 20px;
  margin-right: 5px;
}
@media screen and (min-width: 992px){
  #mobileMenu{
    display: none !important;
  }
}
@media screen and (max-width:991px){
    #desktopMenu{display: none !important;}
    .navbar-nav {
      width: 100%;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .dropdown .dropdown-menu {
      position: relative;
      width: 100%;
    }
    .bx-wrapper img {
      width: auto;
      max-width: none;
    }
    .navbar-header.categoryHeader {
      left: 95%;
    }
    .navbar-default .navbar-nav > li > a {
      font-size: 14px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar-default .navbar-nav > li > a {
      font-size: 14px;
    }
    .bx-wrapper img {
      width: auto;
      max-width: none;
    }
    .dealsList li {
      width: 19.6%;
      margin-bottom: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .dealsList li {
      width: 49%;
      margin-bottom: 20px;
    }
    .dealsList li a .listImage {
      height: 400px;
    }
}

@media screen and (max-width:767px){
    .nzMadeList li a {
      margin-bottom: 20px;
    }
}

@media screen and (min-width:640px) and (max-width:767px){
    .dealsList li {
      width: 49%;
      margin-bottom: 20px;
    }
    .dealsList li a .listImage {
      height: 400px;
    }
    .navbar-header.categoryHeader {
      left: 90%;
    }
}

@media screen and (min-width:480px) and (max-width:639px){
    .dealsList li {
      width: 100%;
      margin-bottom: 20px;
    }
    .dealsList li a .listImage {
      height: 420px;
    }
    .searchPanel h1 {
      font-size: 28px;
    }
    .navbar-header.categoryHeader {
      left: 90%;
    }
}

@media screen and (max-width:479px){
    .dealsList li {
      width: 100%;
      margin-bottom: 20px;
    }
    .dealsList li a .listImage {
      height: 420px;
    }
    .navbar-header.categoryHeader {
      left: 84%;
    }
    .searchPanel h1 {
      font-size: 28px;
    }
    .bottomFooter ul {
      min-height: 150px;
    }
    .searchPanel {
      padding: 90px 0 34px;
    }
}

.subscribe-form {
	position: relative;
   /* width: 350px;
    margin-top: -55px;
    margin-left: 130px;
    padding: 15px;
	vertical-align: center;*/


}

.subscribe-input {
  /*padding: 0 16px;
  width: 100%;
  height: 35px;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
  background: #fefefe;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #999 #aaa #aaa;
  border-radius: 20px;*/
  padding: 0 16px;
    width: 100%;
    height: 35px;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    color: #444;
    background: #fefefe;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #999 #aaa #aaa;
    border-radius: 20px;
  @include box-shadow(inset 0 1px 1px rgba(black, .2), 0 1px #f8f8f8);

  &:focus { outline: 0; }
}

.subscribe-submit {
/*    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    padding-left: 15px;
    height: 35px;
    width: 90px;
    background: #333;
    border: 1px solid;
    border-color: #fefefe;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
	color: #fff;*/
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 15px;
    height: 35px;
    width: 90px;
    background: #333;
    border: 1px solid;
    border-color: #fefefe;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #fff;
}

  @include hide-text;
  @include linear-gradient(top, #84f087, #4cd94a);
  @include box-shadow(inset 0 1px rgba(white, .4));

  &:active {
    background: #4cdf4d;
    @include box-shadow(inset 0 0 3px rgba(black, .3));
  }

  &:before {
    content: '';
    display: block;
    margin-top: 1px;
    width: 25px;
    height: 19px;
    background: url('../img/tick.png');
  }
}

.lt-ie9 .subscribe-input { line-height: 33px; }
